-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
    head
        title= title
        meta{:charset => "utf-8"}/
        meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
        link{:href => "/assets/css/bootstrap.min.css", :rel  => "stylesheet"}
        script{:src => "/assets/js/jquery.min.js"}
        script{:src => "/assets/js/bootstrap.min.js" }
        //link{:href => "/assets/css/bootstrap-theme.min.css", :rel  => "stylesheet"}
        :javascript
            window.produceFormElements={}
    body(data-spy= "scroll"  datatarget = ".bs.docs.sidebar")
        nav.navbar-default.navbar-static-top.navbar-inverse
            div.container
                a(class='navbar-brand' href='/') Carrden Inventory
                ul.nav.navbar-nav
                    li
                        a(href='/')
                            span.glyphicon.glyphicon-shopping-cart
                            span Main
                    li
                        a(href='/admin/')
                            span.glyphicon.glyphicon-stats
                            span Administration
                    li
                        a(href='/admin/settings')
                            span.glyphicon.glyphicon-cog
                            span Settings
        #content
            != body

        script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
